{extend name='admin@main/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-modal='{:url("$classuri/add")}' data-title="添加地区" class='layui-btn layui-btn-small'><i
            class='fa fa-plus'></i> 添加地区
    </button>
    <button data-update data-field='delete' data-action='{:url("$classuri/del")}'
            class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除地区
    </button>
</div>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">

        <div class="col-xs-2">
            <div class="form-group">
                <select id="country" name="country" class="input-sm form-control">
                    <option value="">选择国家</option>
                    <!--{foreach $countrys as $v}-->
                    <!--{if $v.code===$Think.get.country}-->
                    <option selected="selected" value='{$v.code}'>{$v.name}</option>
                    <!--{else}-->
                    <option value='{$v.code}'>{$v.name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="form-group">
                <select id="province" name="province" class="input-sm form-control">
                    <option value="">选择省份</option>
                    <!--{foreach $provinces as $v}-->
                    <!--{if $v.code===$Think.get.country}-->
                    <option selected="selected" value='{$v.code}'>{$v.name}</option>
                    <!--{else}-->
                    <option value='{$v.code}'>{$v.name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>

        <div class="col-xs-2">
            <div class="form-group">
                <select  id="city" name="city" class="input-sm form-control">
                    <option value="">选择城市</option>
                    <!--{foreach $citys as $v}-->
                    <!--{if $v.code===$Think.get.country}-->
                    <option selected="selected" value='{$v.code}'>{$v.name}</option>
                    <!--{else}-->
                    <option value='{$v.code}'>{$v.name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                </select>
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>

    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    <input type="hidden" value="resort" name="action"/>
    <table class="layui-table" lay-skin="line" lay-size="sm">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th class='list-table-sort-td'>
                CODE
            </th>
            <th class='text-center'></th>
            <th>地区名称</th>
            <th class='text-center'>类型</th>
            <th class='text-center'>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.ids}' type='checkbox'/>
            </td>
            <td class='list-table-sort-td'>
                {$vo.code}
            </td>
            <td class='text-center'>
                &nbsp;
            </td>
            <td>{$vo.spl}{$vo.fullName}</td>
            <td class='text-center'>
                {$vo.type}
            </td>
            <td class='text-center nowrap'>
                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-modal='{:url("$classuri/edit")}?id={$vo.code}' href="javascript:void(0)">编辑</a>
                {/if}
                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.ids}" data-field='delete' data-action='{:url("$classuri/del")}'
                   href="javascript:void(0)">删除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
    <script>
        window.form.render();
        window.laydate.render({range: true, elem: '#range-date', format: 'yyyy/MM/dd'});
    </script>
</form>
{/block}

{block name="script"}
<script>
    $(function() {
        $('body').off('change', 'select[name=country]').on('change', 'select[name=country]', function () {
            var value = $(this).val();

            var prov = $("#province");
            var city = $("#city");

            if(value.length>0){
                $.ajax({
                    url: "{:url(\"$classuri/getchildregion\")}?parentCode="+value,
                    data: {},
                    type: 'get',
                    dataType: 'json',
                    success: function(data) {
                        //alert(data1)
                        var _html = '<option value="" >选择省份</option>';
                        $.each(data, function(k, v){
                            _html += '<option value="' + v.code + '" >' + v.name + '</option>';
                        });
                        prov.html(_html);
                    }
                });
            }else{
                prov.html('<option value="" >选择省份</option>');
                city.html('<option value="" >选择城市</option>');
            }



        });

        $('body').off('change', 'select[name=province]').on('change', 'select[name=province]', function () {
            var value = $(this).val();
            var city = $("#city");

            if(value.length>0){
                $.ajax({
                    url: "{:url(\"$classuri/getchildregion\")}?parentCode="+value,
                    data: {},
                    type: 'get',
                    dataType: 'json',
                    success: function(data) {
                        //alert(data1)
                        var _html = '<option value="" >选择城市</option>';
                        $.each(data, function(k, v){
                            _html += '<option value="' + v.code + '" >' + v.name + '</option>';
                        });
                        city.html(_html);
                    }
                });
            }else{
                city.html('<option value="" >选择城市</option>');

            }



        });
    });

</script>
{/block}