<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">



    <div class="layui-form-item">
        <label class="layui-form-label">电台名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" value='{$vo.name|default=""}' required="required" title="请输入名称" placeholder="请输入名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">选择省市区</label>
        <div class="layui-input-block">
                <select id="country" name="country" class="layui-select " style='display:inline-block;'>
                    <option value="">选择国家</option>
                    <!--{if $countrys!="" }-->
                    <!--{foreach $countrys as $v}-->
                    <!--{if $v.code==$country}-->
                    <option selected="selected" value='{$v.code}'>{$v.name}</option>
                    <!--{else}-->
                    <option value='{$v.code}'>{$v.name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->

                    <!--{/if}-->
                </select>
                <select id="province" name="province" class="layui-select " style='display:inline-block;'>
                    <option value="">选择省份</option>
                    <!--{if $provinces!="" }-->
                    <!--{foreach $provinces as $v}-->
                    <!--{if $v.code==$province}-->
                    <option selected="selected" value='{$v.code}'>{$v.name}</option>
                    <!--{else}-->
                    <option value='{$v.code}'>{$v.name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                    <!--{/if}-->
                </select>
                <select  id="city" name="city" class="layui-select " style='display:inline-block;'>
                    <option value="">选择城市</option>
                    <!--{if $citys!="" }-->
                    <!--{foreach $citys as $v}-->
                    <!--{if $v.code==$city}-->
                    <option selected="selected" value='{$v.code}'>{$v.name}</option>
                    <!--{else}-->
                    <option value='{$v.code}'>{$v.name}</option>
                    <!--{/if}-->
                    <!--{/foreach}-->
                    <!--{/if}-->
                </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">电台属性</label>
        <div class="layui-input-block" >

            <input {if $vo.is_new =='1'}checked{/if} class="list-check-box" value='1' type='checkbox' name="is_new" style="display: inline-block;"/>最新
            <input {if $vo.is_hot =='1'}checked{/if} class="list-check-box" value='1' type='checkbox' name="is_hot" style="display: inline-block;"/>热门
            <input {if $vo.is_recommend =='1'}checked{/if} class="list-check-box" value='1' type='checkbox' name="is_recommend" style="display: inline-block;"/>推荐

        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">选择类型</label>
        <div class="layui-input-block">
            <select id="type_id" name="type_id" class="layui-select full-width" style='display:block;width: 200px;'>
                <option value="0">选择类型</option>

                <!--{foreach name='Think.config.tvarray' item='v'}-->
                <!--{if $key==$vo.type_id}-->
                <option value='{$key}' selected>{$v}</option>
                <!--{else}-->

                <option value='{$key}'>{$v}</option>
                <!--{/if}-->
                <!--{/foreach}-->
            </select>

        </div>
    </div>

    <foreach name='Think.config.EXPENSE_TYPE' item='v'>

    <div class="layui-form-item">
        <label class="layui-form-label">源地址</label>
        <div class="layui-input-block">
            <input type="text" name="url" value='{$vo.url|default=""}' required="required" title="请输入url" placeholder="请输入url" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-block">
            <div style="position:relative">
                <div class="uploadimage"><input name="icon" type="hidden"></div>
                <a data-file="one" data-field="icon" data-type="png,jpg,jpeg" data-uptype="local" href="javascript:void(0)" class="uploadbutton">上传图片</a>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">封面图片</label>
        <div class="layui-input-block">
            <div style="position:relative">
                <div class="uploadimage"><input name="bg" type="hidden"></div>
                <a data-file="one" data-field="bg" data-type="png,jpg,jpeg" data-uptype="local" href="javascript:void(0)" class="uploadbutton">上传图片</a>
            </div>
        </div>
    </div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

</form>

<script>

    require(['jquery'], function () {
        $('[name="icon"]').on('change', function () {
            $(this).parent().attr('data-tips-image', this.value).css('backgroundImage', 'url(' + this.value + ')');
        });
        $('[name="bg"]').on('change', function () {
            $(this).parent().attr('data-tips-image', this.value).css('backgroundImage', 'url(' + this.value + ')');
        });
    });

    $(function() {
        $('body').off('change', 'select[name=country]').on('change', 'select[name=country]', function () {
            var value = $(this).val();

            var prov = $("#province");
            var city = $("#city");

            if(value.length>0){
                $.ajax({
                    url: "{:url(\"$classuri/getchildregion\")}?parentCode="+value,
                    data: {},
                    type: 'get',
                    dataType: 'json',
                    success: function(data) {
                        //alert(data1)
                        var _html = '<option value="" >选择省份</option>';
                        $.each(data, function(k, v){
                            _html += '<option value="' + v.code + '" >' + v.name + '</option>';
                        });
                        prov.html(_html);
                    }
                });
            }else{
                prov.html('<option value="" >选择省份</option>');
                city.html('<option value="" >选择城市</option>');
            }



        });

        $('body').off('change', 'select[name=province]').on('change', 'select[name=province]', function () {
            var value = $(this).val();
            var city = $("#city");

            if(value.length>0){
                $.ajax({
                    url: "{:url(\"$classuri/getchildregion\")}?parentCode="+value,
                    data: {},
                    type: 'get',
                    dataType: 'json',
                    success: function(data) {
                        //alert(data1)
                        var _html = '<option value="" >选择城市</option>';
                        $.each(data, function(k, v){
                            _html += '<option value="' + v.code + '" >' + v.name + '</option>';
                        });
                        city.html(_html);
                    }
                });
            }else{
                city.html('<option value="" >选择城市</option>');

            }



        });
    });
</script>