<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">选择省市区</label>
        <div class="layui-input-block">
            <select id="country" name="country" class="layui-select full-width" style='display:block'>
                <option value="">选择国家</option>
                <!--{if $countrys!="" }-->
                <!--{foreach $countrys as $v}-->
                <!--{if $v.code==$Think.get.country}-->
                <option selected="selected" value='{$v.code}'>{$v.name}</option>
                <!--{else}-->
                <option value='{$v.code}'>{$v.name}</option>
                <!--{/if}-->
                <!--{/foreach}-->

                <!--{/if}-->
            </select>
            <select id="province" name="province" class="layui-select full-width" style='display:block'>
                <option value="">选择省份</option>
                <!--{if $provinces!="" }-->
                <!--{foreach $provinces as $v}-->
                <!--{if $v.code==$Think.get.province}-->
                <option selected="selected" value='{$v.code}'>{$v.name}</option>
                <!--{else}-->
                <option value='{$v.code}'>{$v.name}</option>
                <!--{/if}-->
                <!--{/foreach}-->
                <!--{/if}-->
            </select>
            <select  id="city" name="city" class="layui-select full-width" style='display:block'>
                <option value="">选择城市</option>
                <!--{if $citys!="" }-->
                <!--{foreach $citys as $v}-->
                <!--{if $v.code==$Think.get.city}-->
                <option selected="selected" value='{$v.code}'>{$v.name}</option>
                <!--{else}-->
                <option value='{$v.code}'>{$v.name}</option>
                <!--{/if}-->
                <!--{/foreach}-->
                <!--{/if}-->
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">电台名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" value='{$vo.name|default=""}' required="required" title="请输入名称" placeholder="请输入名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">电台属性</label>
        <div class="layui-input-block">

                <input type="checkbox"  name="is_new" value="1"  class="" />

                <!--
                <input type="checkbox"  name="is_hot" value="1"  class="" />


                <input type="checkbox"  name="is_recommend" value="1"  class="" />-->

        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">源</label>
        <div class="layui-input-block">
            <input type="text" name="url" value='{$vo.url|default=""}' required="required" title="请输入url" placeholder="请输入url" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

</form>

<script>
    $(function() {
        $('body').off('change', 'select[name=country]').on('change', 'select[name=country]', function () {
            var value = $(this).val();

            var prov = $("#province");
            var city = $("#city");

            if(value.length>0){
                $.ajax({
                    url: "{:url(\"$classuri/getchildregion\")}?parentCode="+value,
                    data: {},
                    type: 'get',
                    dataType: 'json',
                    success: function(data) {
                        //alert(data1)
                        var _html = '<option value="" >选择省份</option>';
                        $.each(data, function(k, v){
                            _html += '<option value="' + v.code + '" >' + v.name + '</option>';
                        });
                        prov.html(_html);
                    }
                });
            }else{
                prov.html('<option value="" >选择省份</option>');
                city.html('<option value="" >选择城市</option>');
            }



        });

        $('body').off('change', 'select[name=province]').on('change', 'select[name=province]', function () {
            var value = $(this).val();
            var city = $("#city");

            if(value.length>0){
                $.ajax({
                    url: "{:url(\"$classuri/getchildregion\")}?parentCode="+value,
                    data: {},
                    type: 'get',
                    dataType: 'json',
                    success: function(data) {
                        //alert(data1)
                        var _html = '<option value="" >选择城市</option>';
                        $.each(data, function(k, v){
                            _html += '<option value="' + v.code + '" >' + v.name + '</option>';
                        });
                        city.html(_html);
                    }
                });
            }else{
                city.html('<option value="" >选择城市</option>');

            }



        });
    });
</script>