{extend name='admin@main/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-modal='{:url("$classuri/add")}' data-title="添加字典" class='layui-btn layui-btn-small'><i
            class='fa fa-plus'></i> 添加字典
    </button>
    <button data-update data-field='delete' data-action='{:url("$classuri/del")}'
            class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除字典
    </button>
</div>
{/block}

{block name="content"}

<form onsubmit="return false;" data-auto="true" method="post">
    <input type="hidden" value="resort" name="action"/>
    <table class="layui-table" lay-skin="line" lay-size="sm">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th class='list-table-sort-td'>
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-mini">排 序</button>
            </th>
            <th>ID</th>
            <th class='text-left'>图标</th>
            <th>名称</th>

            <th class='text-center'>简码</th>
            <th class='text-center'>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.ids}' type='checkbox'/>
            </td>
            <td class='list-table-sort-td'>
                <input name="_{$vo.id}" value="{$vo.sort}" class="list-sort-input"/>
            </td>

            <td>{$vo.id}</td>

            <td class='text-left'>{if isset($vo['icon'])}<img src="{$vo.icon}" height="40px" width="40px"/>{/if}</td>
            <td>{$vo.spl}{$vo.name}</td>

            <td class='text-center'>
                {$vo.char}
            </td>
            <td class='text-center nowrap'>
                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-modal='{:url("$classuri/edit")}?id={$vo.id}' href="javascript:void(0)">编辑</a>
                {/if}
                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.ids}" data-field='delete' data-action='{:url("$classuri/del")}'
                   href="javascript:void(0)">删除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</form>
{/block}