<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action='{:url("$classuri/importsubmit")}' data-auto="true" method="post">



    <div class="layui-form-item">
        <label class="layui-form-label">时间</label>
        <div class="layui-input-block">
            <input name="date2" id='range-date2' value="{$Think.get.date2|default=''}"
                   placeholder="请选择时间" class="layui-input">
        </div>
    </div>



    <div class="layui-form-item">
        <label class="layui-form-label">选择类型</label>
        <div class="layui-input-block">
            <select name='tvtype' class='layui-select full-width' style='display:block'>
                <option value="">选择类型</option>
                <option value='yangshi'>央视</option>
                <option value='weishi'>卫视</option>
            </select>
        </div>
    </div>


    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>导入</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消</button>
    </div>

</form>

<script>
    window.form.render();
    window.laydate.render({range: false, elem: '#range-date2', format: 'yyyyMMdd'});
</script>