{extend name='admin@main/content'}

{block name="content"}

<form onsubmit="return false;" data-auto="true" method="post">
    <input type="hidden" value="resort" name="action"/>
    <table class="layui-table" lay-skin="line" lay-size="sm">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
            </th>

            <th>主题ID</th>

            <th class='text-center'>评论内容</th>
            <th class='text-center'>评论者</th>
            <th class='text-center'>回复者</th>
            <th class='text-center'>类型</th>
            <th class='text-center'>时间</th>
            <th class='text-center'>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.ids}' type='checkbox'/>
            </td>


            <td>{$vo.spl}{$vo.uid}</td>

            <td class='text-center'>
                {$vo.context}
            </td>
            <td class='text-center'>
                {$vo.user_id}
            </td>
            <td class='text-center'>
                {$vo.reply_id}
            </td>
            <td class='text-center'>
                {$vo.type_id}
            </td>
            <td class='text-center'>
                {$vo.create_at}
            </td>
            <td class='text-center nowrap'>

                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.ids}" data-field='delete' data-action='{:url("$classuri/del")}'
                   href="javascript:void(0)">删除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</form>
{/block}